@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

*,
*::after,
*::before {
  transition: all 0.5s ease;
}

@theme {
  --color-brand-yellow: #CAAF54;
  --color-brand-gray: #A6A6A5;
  --color-brand-black: #000000;
}
